{
    "extends": "airbnb",
    "rules": {
        "indent": ["error", 4],
        "max-len": ["error", { "code": 200 }],
        "comma-dangle": ["error", "never"],
        "object-curly-newline": "off",
        "valid-jsdoc": ["error", {"requireParamDescription": false, "requireReturnDescription": false}],
        "prefer-destructuring": ["error", {
            "VariableDeclarator": {
              "array": false,
              "object": true
            },
            "AssignmentExpression": {
              "array": true,
              "object": true
            }
          }, {
            "enforceForRenamedProperties": false
        }]
    }
}